:root {

    --bittersweet-2: #EC725Bff;
    --white: #ffffff;
    --light_maroon: #611111; 
    --gray: #cccccc; 
    --dark-gray: #212529; 
    --red: #921825;
    --english-violet: #4D4767ff;  
    --mountbatten-pink-2: #967F98ff;
    --pallete-color: #c77559;
    --burnt-umber: #96291Eff;
    --raisin-black: #1A192Bff;
    --dark-purple: rgb(18, 17, 32);
    --rich-black: #060815ff;
    --oxford-blue-2: #080323ff;
    --secondary-text: rgb(170 166 195 );
    --html: #ec008c;
    --css: #56ccf2;
    --js: #f0db4f;
}

body, html {
    background: linear-gradient(to right, #060815ff, #060815ff) 0% 0% / cover repeat;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}


/* Navbar */


.navbar {

    background: rgb(18, 17, 32, .8);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 0 ;
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#logo {

    max-width: 35px;
    max-height: 45px;
    padding: 0 0 1px 0;
}

@media (max-width: 990px){
 
    #logo {

        padding: 0 0 5px 0;
    }
}

.navbar-toggler {

    max-height: 45px;
}


/*Home Page */


.parallax-home {

    background-image: url(images/maroon_sunset_back.jpg);
    height: 100%;
    background-size: cover;
    display: block;
    scroll-behavior: smooth;
}

#header {

    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 110vh;
    text-align:center;
}

#header h2 {

    font-size: 9vmax;
    font-family: 'Times new roman';
}

#header h3 {

    font-size: 5vmax;
    font-family: 'Times new Roman';
}

#header h4 {

    font-size: 3.5vmax;
    font-family: 'Lato';
}

@media (min-width: 450px) {

    .parallax-home {
        background-attachment: fixed;
        height: 100%;
    }
}

@media (max-width: 450px) {

    #header h2 {
        font-size: 6.5vmax;
    }

    #header h3 {
        font-size: 3.5vmax;
    }

    #header h4 {
        font-size: 3vmax;
    }

    #header {

        height: 100vh
    }

    .parallax-home {

        height: 100%;
    }
}

@media only screen and (max-device-width: 1366px) {
    .parallax-home {
        background-attachment: scroll;
    }
  }


/*Aboout Me Section*/


#about {

    padding: 80px 50px 0 50px;
    min-height: 100vh;
    
}

@media (min-width: 992px) {
    #about{
        padding: 90px 150px 90px 150px;
    }
}

@media (max-width: 450px) {

    #about {

        padding-left: 7px;
        padding-right: 7px;
    }
}

#about-box {

    margin:0 0 0 0;
}

#headshot {

    height: 20vmax;
    width: 20vmax;
    padding:0;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    box-shadow: rgba(232, 230, 230, 0.56) 0px 0px 50px 4px;
    filter: grayscale(80%);

}

#headshot:hover { 

    box-shadow: rgba(237, 234, 234, 0.56) 0px 0px 25px 2px;
    filter: none;
}

#headshot img:hover {

    transform: scale(1.1);
}

#about p {

    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#skill_box1 {

    padding: 10px 20px 5px 20px;
    margin: 40px 0 20px 0;
    width: fit-content;
    display: inline-flex;
    justify-content: space-between;
    background: linear-gradient(var(--raisin-black), var(--raisin-black)) padding-box,
                linear-gradient(to right, rgb(0, 0, 223), darkorchid) border-box;
    border-radius: 5rem;
    border: 2.5px solid transparent;
    transition: all .2s ease-in-out;
}

#skill {

    justify-content: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px 0 5px 0; 
}

.skill-icon {

    height: 30px;
    width: 30px;
}

#summary {

    color: white;
    background-color: rgb(29, 24, 54);
    padding: 20px;
    margin: 0 0 0 0;
    width: fit-content;
    border-radius: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.15rem;
    background: linear-gradient(var(--raisin-black), var(--raisin-black)) padding-box,
                linear-gradient(-25deg, rgb(0, 0, 223), darkorchid) border-box;
    border: 2.5px solid transparent;
    transition: all .2s ease-in-out;
}

#summary:hover, #skill_box1:hover {

    border-radius: .75rem;
}


/* Involvment */


#involvement {

    padding: 80px 50px 50px 50px;
}

@media (max-width: 450px) {

    #involvement {

        padding-left: 10px;
        padding-right: 10px;
    }
}


.title h3{

    align-items: center;
    color: white;
    font-size: 4vmax;
    text-align: center;
    padding: 0 0 40px 0;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

 .box-padding {

    padding: 4vmin 2vmin 4vmin 2vmin;
 }

.inv {

    background-color: #14102Eff;
    padding: 20px;
    margin: 30px 4px 50px 40px;
    border-radius: 20px;
    background: linear-gradient(#14102Eff, #14102Eff) padding-box,
                linear-gradient(to left, #037ADE, #03E5B7) border-box;
    border: 2.5px solid transparent;
    transition: all .2s ease-in-out;
    box-shadow: rgba(193, 138, 229, 0.56) 0px 0px 30px 1px;
}

.inv:hover {

    box-shadow: rgb(255, 255, 255) 0px 0px 8px 1px;
}

.inv h4 {

    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
 }

 .inv p {

    color: var(--secondary-text);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.15rem;
    font-weight: 100;
    padding:0%;
 }

.box-padding img {

    max-height: 255px;
    max-width: 405px;
    justify-content: center;
    border-radius: 25px;
}



@media (max-width: 450px) {

    .box-padding {
        margin: 0 15px 0 15px;
    }
}

.carousel-item {

    justify-content: center;
}


/* Projects */


#projects {

    padding: 80px 100px 50px 100px;
}

@media (max-width: 450px) {

    #projects {

        padding-left: 45px;
        padding-right: 45px;
    }

    .project-card {

        height: fit-content;
    }

    .project-card img{

        width: 100%;
    }
}

.project-card {

    height: 500px;
    width: 400px;
    border-radius: 15px;
    background: linear-gradient( rgb(16 13 37), rgb(16 13 37)) padding-box,
                linear-gradient(-45deg, rgba(9,9,121,1) 15%, rgba(255,0,0,1) 110%) border-box;

    border: 2.5px solid transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    transition: all .5s ease-in-out;
}

.project-card:hover{
    
    transform: scale(.97);
    border: 7.5px solid transparent;
}

.car {

    justify-content: center;
    align-items: center;

}

.project-card img {

    width: 100%;
    height: 110%;
    border-radius: 15px 15px 0 0;

}

.project-text {

    padding: 20px 5px 0 5px;
}

.language-used {

    display: flex;
    padding: 50px 0 0 0;
    gap: 1rem;
    justify-content: center;
}

.html {

    color: var(--html)
}

.css {

    color: var(--css)
}

.js {

    color: var(--js);
}


/* Contacts */


#contact {
   padding: 50px 100px 150px 100px;
}

@media (max-width: 450px) {

    #contact {

        padding-left: 10px;
        padding-right: 10px;
    }
}

.contact-box {

    width: fit-content;
    padding: none;
}

.contact-box ul {

    list-style: none;
    display: flex; 
    padding: 0;
}

.contact-box li {

    margin: 0 15px;
    font-size: 50px;
}



.contact-box a {

    position: relative;
    display: block;
    width: 85px;
    height: 85px;
    line-height: 80px;
    text-align: center;
    background: #11173b;
    border-radius: 50%;
    color: var(--rich-black);
    transition: .5s;
}

  
.con1 a:hover {
    color: #007bff;
    box-shadow: 0 0 15px #007bff;
    text-shadow: 0 0 5px #007bff;
    border-radius: 50%;
}

.con2 a:hover {

    color: white;
    box-shadow: 0 0 15px white;
    text-shadow: 0 0 5px white;
    border-radius: 50%;
}

.con3 a:hover {

    color: #E1306C ;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 5px #E1306C;
    border-radius: 50%;
}

